#div-one {
    background-color:#89F8CE;
    border-radius: 5px;
}

h1 {
    font-size:55px;
}

#span {
    color:yellow;
}
#one-img {
    float: left;
    border-radius: 15px;
    width:541.1px ;
    height:280px ;
    border: 5px solid yellow;
}
#tow-img {
    float:right;
    border-radius: 15px;
    width: 250px;
    height: 250px;
    border: 5px solid yellow;
}
#ture-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
    border-radius: 15px;
    border: 5px solid yellow;
}
p {
    font-size:30px;
}
a {
    text-align: center;
    color: yellow;
}
#div-tow {
   background-color:#000000 ;
   border-radius: 15px;
   color: yellow;
    margin-left: 50px;
    margin-right:50px;
}
#nav {
    background-color: #E900FF;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 15px;
    font-size: 20px;
}
#div-div {
    text-align: center;
    background-color: #5800FF;
    margin-left:10px ;
    margin-right: 10px;
    border-radius: 15px;
}
@media (max-width) and (min-width) {
   h1 {
    font-size: 40px;
   }
   #one-img {
    border: 3px solid yellow;
    width:120px ;
    height: 60px;
    border-radius: 10px
   } 
   #tow-img {
    border: 3px solid yellow;
    width: 100px;
    height: 100px;
    border-radius: 10px
   }
   #ture-img {
    border: 3px solid yellow;
    width: 35%;
    height: 35%;
    border-radius: 10px
   }
   p {
    font-size:18px;
    }
    #div-tow {
    border-radius: 10px;
    margin-left: 2px;
    margin-right:2px;
    }
    #nav {
        padding: 6px;
        border-radius: 10px;
        font-size: 10px;
    }
    #div-div {
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 10px;
    }
}